# To help maintain consistent coding styles.
#
# see https://editorconfig.org/ for more information.
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
binary_next_line   = true  # like shfmt -bn
switch_case_indent = true  # like shfmt -ci

[*.md]
trim_trailing_whitespace = false
